apt-get update
apt-get upgrade
apt-get install python-pip python3-pip
apt-get install gfortran
apt-get install libhdf5-dev libc-ares-dev libeigen3-dev
apt-get install libatlas-base-dev libopenblas-dev libblas-dev
apt-get install liblapack-dev
pip3 install --upgrade setuptools
apt-get install python3-h5py
pip3 install pybind11
pip3 install numpy==1.19.4
pip3 install Cython==0.29.21
pip install protobuf==3.9.2
# pip3 install h5py==2.10.0
pip3 install gdown
gdown https://drive.google.com/uc?id=1x2nxbi8rLvF7WzYkuwt9SOuDvsOUytjE
pip3 install tensorflow-2.4.0-cp37-cp37m-linux_aarch64.whl
pip3 install paho_mqtt==1.6.1
pip3 install pandas==1.3.4

# apt-get update
# apt-get upgrade
# pip install --upgrade pip
# apt-get install python-pip python3-pip
# apt-get install gfortran
# apt-get install libhdf5-dev libc-ares-dev libeigen3-dev
# apt-get install libatlas-base-dev libopenblas-dev libblas-dev
# apt-get install liblapack-dev
# # apt-get install libhdf5-dev
# # 
# # pip3 install numpy==1.19.5
# pip3 install pybind11
# pip3 install Cython==0.29.21
# pip3 install h5py==2.10.0
# pip3 install --upgrade setuptools
# pip3 install gdown
# gdown https://drive.google.com/uc?id=1fR9lsi_bsI_npPFB-wZyvgjbO0V9FbMf
# pip3 install tensorflow-2.2.0-cp37-cp37m-linux_aarch64.whl
# pip3 install paho_mqtt==1.6.1
# pip3 install pandas==1.3.4
